header {
    font-family: "Lora";
    font-size: medium;
    font-weight: normal;
    font-style: normal;
    text-align: center;
}

body {
    font-family: "Comfortaa";
    font-size: medium;
    font-weight: normal;
    font-style: normal;
    text-align: center;
}

footer {
    font-family: "Lora";
    font-size: medium;
    font-weight: normal;
    font-style: normal;
    text-align: center;
}

/* Comment in CCS */

ul {
    display: table;
    margin: 0 auto;
    text-align: left;
}

body {
    background-color: black;
    color: white;

    height: 100vh;
}

.high-contrast-mode {
    background-color: yellow;
    color: blue;
}
